<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Public/css/fonts.css">
    <link rel="stylesheet" href="/Public/css/global.css">
    <link rel="stylesheet" href="site.css">
    <title>Missão roupa</title>
</head>
<body>

<div class="mãe">
    <nav class="cabeçalho">

<a href="site.html"><img class="logo" src="/Public/assets/images/logo.png" alt=""></a>

        <a href="#">Sobre nós</a>
        <a href="#">Nossa missão</a>
        <a href="#">Redes Socias</a>
        <button class="botão1">Quer Ajudar ?</button>
    </nav>

    <div class="pai">
        
        <h1>Como fazemos nosso trabalho?</h1>

        

            <p> Na nossa empresa de doação de roupas, o nosso compromisso vai além de simplesmente coletar e distribuir itens para quem precisa. Nós nos dedicamos a criar um impacto positivo e significativo nas vidas das pessoas e no meio ambiente. Aqui está um pouco mais sobre como nós trabalhamos:
            Coleta Responsável: Iniciamos o nosso processo com uma coleta cuidadosa e responsável de roupas doadas. Encorajamos a doação de itens em boas condições para garantir que possamos beneficiar o maior número possível de pessoas.
            Triagem e Classificação: Após a coleta, realizamos uma triagem minuciosa das roupas para garantir que apenas itens em bom estado sejam selecionados. Classificamos as peças de acordo com o seu tipo, tamanho e qualidade, para que possamos distribuir de forma eficiente e adequada.
            Parcerias Estratégicas: Trabalhamos em estreita colaboração com organizações e instituições locais para identificar as necessidades específicas da comunidade. Estabelecemos parcerias estratégicas para garantir que as doações sejam direcionadas para onde são mais necessárias.</p>


    </div>

    

        <img class="imagem1" src="/Public/assets/images/folhaescrita.png" alt="camiseta">

    

    <div class="pai2">

        <h1>Investidores e Patrocinadores</h1>
<details class="lista">
    <summary>Exemplos de Investidores e patrocinadores</summary>
        <li>Bradesco</li>
        <li>Sebrae</li>
        <li>Ledger</li>
        <li>Automatech</li>
        <li>Instituto Ronald Mc Donald</li>
</details>

    </div>

    <img class="img2" src="/Public/assets/images/RedeSocial.png" alt="">


    <button class="botão2"><a href="/src/Components/pages/tabela.html">Ver tabela de investimos</a></button>


</div>

 

</body>

</html>