<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Public/css/fonts.css">
    <link rel="stylesheet" href="/Public/css/global.css">
    <link rel="stylesheet" href="tabela.css">
    <title>Document</title>
</head>
<body>
    <a class="voltar" href="/src/Components/pages/site.html">Voltar</a>
    <h1>Investidores</h1>

    <table>
        <tr>
            <th>Investidor</th>
            <th>Valor do investimento</th>
            <th>Instituição investida</th>
            <th>Fundador da Empresa</th>
        </tr>
        <tr>
            <td><a href="https://banco.bradesco/html/classic/index.shtm">Bradesco</a></td>
            <td>R$ 1.000.000,00</td>
            <td>AACD</td>
            <td>Amador Aguiar</td>
        </tr>
        <tr>
            <td><a href="https://sebrae.com.br/sites/PortalSebrae/">Sebrae</a></td>
            <td>R$ 200.000,00</td>
            <td>Hospital do Cancêr</td>
            <td>Finep,ABDE e BNDE</td>
        </tr>
        <tr>
            <td><a href="https://automatech.com.br/sobre-nos/">Automatech</a></td>
            <td>R$ 150.000,00</td>
            <td>Associação Cruz Verde</td>
            <td>Roger Santos</td>
        </tr>
        <tr>
            <td><a href="https://www.shofu.com.br/sobre/shofu-brasil">Shofu</a></td>
            <td>R$ 100.000,00</td>
            <td>Conservation International Brasil</td>
            <td>DR. Tomomi Harashima</td>
        </tr>
    </table>

<div class="pai3">

    <h1>O que significa essa tabela?</h1>

    <p>Uma tabela de investidores é uma ferramenta fundamental no mundo financeiro, pois serve como um guia prático e informativo para aqueles que desejam investir seus recursos de forma inteligente e estratégica. Essa tabela, muitas vezes disponível online em sites especializados ou em plataformas de investimento, fornece uma visão abrangente dos diversos tipos de investidores, suas características distintas e as estratégias que empregam.</p>

    <p>Em resumo está tabela visa todos os dados necessários, de que tipo de investidor entrou em nosso barco, podendo assim ajudar nós, a abranger várias instituições carentes, e melhorando o mundo.</p>
</div>

<img src="/Public/assets/images/camiseta.png" alt="camiseta">

<div class="pai3">
<h1>Olá, prezados clientes e apoiadores da nossa empresa!</h1>
<p>
Estamos muito animados em anunciar uma iniciativa especial para ajudar a impulsionar nossos negócios e promover nossa marca de uma forma única e estilosa. Estamos lançando uma linha exclusiva de camisetas que não apenas destacam o nosso logo e identidade visual, mas também refletem o nosso compromisso com a qualidade e a inovação.
Ao adquirir uma dessas camisetas, você não está apenas adicionando uma peça elegante ao seu guarda-roupa, mas também está contribuindo diretamente para o crescimento e desenvolvimento da nossa empresa. Cada compra ajuda a sustentar nossas operações e nos permite continuar oferecendo produtos e serviços excepcionais para todos os nossos clientes.
Além disso, usar uma camiseta da nossa marca é uma maneira poderosa de mostrar seu apoio e lealdade à nossa empresa. Quando você veste uma de nossas camisetas, está compartilhando sua conexão conosco com o mundo ao seu redor, ajudando a aumentar a conscientização sobre nossa marca e atraindo novos clientes em potencial.
Portanto, convidamos você a conferir nossa coleção de camisetas e escolher a sua favorita. Seja para si mesmo ou como um presente para um amigo ou ente querido, cada compra faz a diferença. Juntos, podemos alcançar novos patamares de sucesso e continuar construindo um futuro brilhante para a nossa empresa.
Agradecemos imensamente pelo seu apoio contínuo e esperamos vê-lo ostentando sua nova camiseta com orgulho em breve!
</p>

</div>   

</body>

</html>